# Security files
client_secret.json

# Byte-compiled / optimized / DLL files
__pycache__/*
*.pyc

#IDE project files
cartolan_web/nbproject
cartolan_web/.vs
.idea/

#SSL certificates
cartolan_web/certificates

# Deployment
logs/*.txt
dist/*
build/*

# Logging
*nohup.out
