# Security files
client_secret.json

# Byte-compiled / optimized / DLL files
__pycache__/*
*.pyc

#IDE project files
cartolan_web/nbproject
cartolan_web/.vs

# Deployment
logs/*.txt
dist/*
build/*

# Logging
*nohup.out

# SSL Certificates
cartolan_web/certificates/*
